<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01-01</key> 		<string>░░░░░░░░░░░░░░░ 0%</string>
	<key>01-02</key> 		<string>░░░░░░░░░░░░░░░ 0%</string>
	<key>01-03</key> 		<string>░░░░░░░░░░░░░░░ 0%</string>
	<key>01-04</key>		<string>░░░░░░░░░░░░░░░ 1%</string>
	<key>01-05</key>		<string>░░░░░░░░░░░░░░░ 1%</string>
	<key>01-06</key>		<string>░░░░░░░░░░░░░░░ 1%</string>
	<key>01-07</key>		<string>░░░░░░░░░░░░░░░ 1%</string>
	<key>01-08</key>		<string>░░░░░░░░░░░░░░░ 2%</string>
	<key>01-09</key>		<string>░░░░░░░░░░░░░░░ 2%</string>
	<key>01-10</key>		<string>░░░░░░░░░░░░░░░ 2%</string>
	<key>01-11</key>		<string>░░░░░░░░░░░░░░░ 3%</string>
	<key>01-12</key>		<string>░░░░░░░░░░░░░░░ 3%</string>
	<key>01-13</key>		<string>░░░░░░░░░░░░░░░ 3%</string>
	<key>01-14</key>		<string>░░░░░░░░░░░░░░░ 3%</string>
	<key>01-15</key>		<string>▓░░░░░░░░░░░░░░ 4%</string>
	<key>01-16</key>		<string>▓░░░░░░░░░░░░░░ 4%</string>
	<key>01-17</key>		<string>▓░░░░░░░░░░░░░░ 4%</string>
	<key>01-18</key>		<string>▓░░░░░░░░░░░░░░ 5%</string>
	<key>01-19</key>		<string>▓░░░░░░░░░░░░░░ 5%</string>
	<key>01-20</key>		<string>▓░░░░░░░░░░░░░░ 5%</string>
	<key>01-21</key>		<string>▓░░░░░░░░░░░░░░ 5%</string>
	<key>01-22</key>		<string>▓░░░░░░░░░░░░░░ 6%</string>
	<key>01-23</key>		<string>▓░░░░░░░░░░░░░░ 6%</string>
	<key>01-24</key>		<string>▓░░░░░░░░░░░░░░ 6%</string>
	<key>01-25</key>		<string>▓░░░░░░░░░░░░░░ 6%</string>
	<key>01-26</key>		<string>▓░░░░░░░░░░░░░░ 7%</string>
	<key>01-27</key>		<string>▓░░░░░░░░░░░░░░ 7%</string>
	<key>01-28</key>		<string>▓░░░░░░░░░░░░░░ 7%</string>
	<key>01-29</key>		<string>▓░░░░░░░░░░░░░░ 8%</string>
	<key>01-30</key>		<string>▓░░░░░░░░░░░░░░ 8%</string>
	<key>01-31</key>		<string>▓░░░░░░░░░░░░░░ 8%</string>
	<key>02-01</key>		<string>▓░░░░░░░░░░░░░░ 8%</string>
	<key>02-02</key>		<string>▓░░░░░░░░░░░░░░ 9%</string>
	<key>02-03</key>		<string>▓░░░░░░░░░░░░░░ 9%</string>
	<key>02-04</key>		<string>▓░░░░░░░░░░░░░░ 9%</string>
	<key>02-05</key>		<string>▓░░░░░░░░░░░░░░ 9%</string>
	<key>02-06</key>		<string>▓▓░░░░░░░░░░░░░ 10%</string>
	<key>02-07</key>		<string>▓▓░░░░░░░░░░░░░ 10%</string>
	<key>02-08</key>		<string>▓▓░░░░░░░░░░░░░ 10%</string>
	<key>02-09</key>		<string>▓▓░░░░░░░░░░░░░ 11%</string>
	<key>02-10</key>		<string>▓▓░░░░░░░░░░░░░ 11%</string>
	<key>02-11</key>		<string>▓▓░░░░░░░░░░░░░ 11%</string>
	<key>02-12</key>		<string>▓▓░░░░░░░░░░░░░ 11%</string>
	<key>02-13</key>		<string>▓▓░░░░░░░░░░░░░ 12%</string>
	<key>02-14</key>		<string>▓▓░░░░░░░░░░░░░ 12%</string>
	<key>02-15</key>		<string>▓▓░░░░░░░░░░░░░ 12%</string>
	<key>02-16</key>		<string>▓▓░░░░░░░░░░░░░ 12%</string>
	<key>02-17</key>		<string>▓▓░░░░░░░░░░░░░ 13%</string>
	<key>02-18</key>		<string>▓▓░░░░░░░░░░░░░ 13%</string>
	<key>02-19</key>		<string>▓▓░░░░░░░░░░░░░ 13%</string>
	<key>02-20</key>		<string>▓▓░░░░░░░░░░░░░ 14%</string>
	<key>02-21</key>		<string>▓▓░░░░░░░░░░░░░ 14%</string>
	<key>02-22</key>		<string>▓▓░░░░░░░░░░░░░ 14%</string>
	<key>02-23</key>		<string>▓▓░░░░░░░░░░░░░ 14%</string>
	<key>02-24</key>		<string>▓▓░░░░░░░░░░░░░ 15%</string>
	<key>02-25</key>		<string>▓▓░░░░░░░░░░░░░ 15%</string>
	<key>02-26</key>		<string>▓▓░░░░░░░░░░░░░ 15%</string>
	<key>02-27</key>		<string>▓▓░░░░░░░░░░░░░ 15%</string>
	<key>02-28</key>		<string>▓▓░░░░░░░░░░░░░ 16%</string>
	<key>02-29</key>		<string>▓▓░░░░░░░░░░░░░ 16%</string>
	<key>03-01</key>		<string>▓▓░░░░░░░░░░░░░ 16%</string>
	<key>03-02</key>		<string>▓▓░░░░░░░░░░░░░ 16%</string>
	<key>03-03</key>		<string>▓▓░░░░░░░░░░░░░ 16%</string>
	<key>03-03</key>		<string>▓▓▓░░░░░░░░░░░░ 17%</string>
	<key>03-04</key>		<string>▓▓▓░░░░░░░░░░░░ 17%</string>
	<key>03-05</key>		<string>▓▓▓░░░░░░░░░░░░ 17%</string>
	<key>03-06</key>		<string>▓▓▓░░░░░░░░░░░░ 17%</string>
	<key>03-07</key>		<string>▓▓▓░░░░░░░░░░░░ 18%</string>
	<key>03-08</key>		<string>▓▓▓░░░░░░░░░░░░ 18%</string>
	<key>03-09</key>		<string>▓▓▓░░░░░░░░░░░░ 18%</string>
	<key>03-10</key>		<string>▓▓▓░░░░░░░░░░░░ 18%</string>
	<key>03-11</key>		<string>▓▓▓░░░░░░░░░░░░ 19%</string>
	<key>03-12</key>		<string>▓▓▓░░░░░░░░░░░░ 19%</string>
	<key>03-13</key>		<string>▓▓▓░░░░░░░░░░░░ 19%</string>
	<key>03-14</key>		<string>▓▓▓░░░░░░░░░░░░ 20%</string>
	<key>03-15</key>		<string>▓▓▓░░░░░░░░░░░░ 20%</string>
	<key>03-16</key>		<string>▓▓▓░░░░░░░░░░░░ 20%</string>
	<key>03-17</key>		<string>▓▓▓░░░░░░░░░░░░ 20%</string>
	<key>03-18</key>		<string>▓▓▓░░░░░░░░░░░░ 21%</string>
	<key>03-19</key>		<string>▓▓▓░░░░░░░░░░░░ 21%</string>
	<key>03-20</key>		<string>▓▓▓░░░░░░░░░░░░ 21%</string>
	<key>03-21</key>		<string>▓▓▓░░░░░░░░░░░░ 21%</string>
	<key>03-22</key>		<string>▓▓▓░░░░░░░░░░░░ 22%</string>
	<key>03-23</key>		<string>▓▓▓░░░░░░░░░░░░ 22%</string>
	<key>03-24</key>		<string>▓▓▓░░░░░░░░░░░░ 22%</string>
	<key>03-25</key>		<string>▓▓▓░░░░░░░░░░░░ 23%</string>
	<key>03-26</key>		<string>▓▓▓░░░░░░░░░░░░ 23%</string>
	<key>03-27</key>		<string>▓▓▓░░░░░░░░░░░░ 23%</string>
	<key>03-28</key>		<string>▓▓▓░░░░░░░░░░░░ 23%</string>
	<key>03-29</key>		<string>▓▓▓▓░░░░░░░░░░░ 24%</string>
	<key>03-30</key>		<string>▓▓▓▓░░░░░░░░░░░ 24%</string>
	<key>03-31</key>		<string>▓▓▓▓░░░░░░░░░░░ 24%</string>
	<key>04-01</key>		<string>▓▓▓▓░░░░░░░░░░░ 25%</string>
	<key>04-02</key>		<string>▓▓▓▓░░░░░░░░░░░ 25%</string>
	<key>04-03</key>		<string>▓▓▓▓░░░░░░░░░░░ 25%</string>
	<key>04-04</key>		<string>▓▓▓▓░░░░░░░░░░░ 25%</string>
	<key>04-05</key>		<string>▓▓▓▓░░░░░░░░░░░ 26%</string>
	<key>04-06</key>		<string>▓▓▓▓░░░░░░░░░░░ 26%</string>
	<key>04-07</key>		<string>▓▓▓▓░░░░░░░░░░░ 26%</string>
	<key>04-08</key>		<string>▓▓▓▓░░░░░░░░░░░ 26%</string>
	<key>04-09</key>		<string>▓▓▓▓░░░░░░░░░░░ 27%</string>
	<key>04-10</key>		<string>▓▓▓▓░░░░░░░░░░░ 27%</string>
	<key>04-11</key>		<string>▓▓▓▓░░░░░░░░░░░ 27%</string>
	<key>04-12</key>		<string>▓▓▓▓░░░░░░░░░░░ 28%</string>
	<key>04-13</key>		<string>▓▓▓▓░░░░░░░░░░░ 28%</string>
	<key>04-14</key>		<string>▓▓▓▓░░░░░░░░░░░ 28%</string>
	<key>04-15</key>		<string>▓▓▓▓░░░░░░░░░░░ 28%</string>
	<key>04-16</key>		<string>▓▓▓▓░░░░░░░░░░░ 29%</string>
	<key>04-17</key>		<string>▓▓▓▓░░░░░░░░░░░ 29%</string>
	<key>04-18</key>		<string>▓▓▓▓░░░░░░░░░░░ 29%</string>
	<key>04-19</key>		<string>▓▓▓▓░░░░░░░░░░░ 29%</string>
	<key>04-20</key>		<string>▓▓▓▓▓░░░░░░░░░░ 30%</string>
	<key>04-21</key>		<string>▓▓▓▓▓░░░░░░░░░░ 30%</string>
	<key>04-22</key>		<string>▓▓▓▓▓░░░░░░░░░░ 30%</string>
	<key>04-23</key>		<string>▓▓▓▓▓░░░░░░░░░░ 31%</string>
	<key>04-24</key>		<string>▓▓▓▓▓░░░░░░░░░░ 31%</string>
	<key>04-25</key>		<string>▓▓▓▓▓░░░░░░░░░░ 31%</string>
	<key>04-26</key>		<string>▓▓▓▓▓░░░░░░░░░░ 31%</string>
	<key>04-27</key>		<string>▓▓▓▓▓░░░░░░░░░░ 32%</string>
	<key>04-28</key>		<string>▓▓▓▓▓░░░░░░░░░░ 32%</string>
	<key>04-29</key>		<string>▓▓▓▓▓░░░░░░░░░░ 32%</string>
	<key>04-30</key>		<string>▓▓▓▓▓░░░░░░░░░░ 32%</string>
	<key>05-1</key>		<string>▓▓▓▓▓░░░░░░░░░░ 33%</string>
	<key>05-2</key>		<string>▓▓▓▓▓░░░░░░░░░░ 33%</string>
	<key>05-3</key>		<string>▓▓▓▓▓░░░░░░░░░░ 33%</string>
	<key>05-4</key>		<string>▓▓▓▓▓░░░░░░░░░░ 34%</string>
	<key>05-5</key>		<string>▓▓▓▓▓░░░░░░░░░░ 34%</string>
	<key>05-6</key>		<string>▓▓▓▓▓░░░░░░░░░░ 34%</string>
	<key>05-7</key>		<string>▓▓▓▓▓░░░░░░░░░░ 34%</string>
	<key>05-8</key>		<string>▓▓▓▓▓░░░░░░░░░░ 35%</string>
	<key>05-9</key>		<string>▓▓▓▓▓░░░░░░░░░░ 35%</string>
	<key>05-10</key>		<string>▓▓▓▓▓░░░░░░░░░░ 35%</string>
	<key>05-11</key>		<string>▓▓▓▓▓░░░░░░░░░░ 35%</string>
	<key>05-12</key>		<string>▓▓▓▓▓░░░░░░░░░░ 36%</string>
	<key>05-13</key>		<string>▓▓▓▓▓░░░░░░░░░░ 36%</string>
	<key>05-14</key>		<string>▓▓▓▓▓░░░░░░░░░░ 36%</string>
	<key>05-15</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 37%</string>
	<key>05-16</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 37%</string>
	<key>05-17</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 37%</string>
	<key>05-18</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 37%</string>
	<key>05-19</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 38%</string>
	<key>05-20</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 38%</string>
	<key>05-21</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 38%</string>
	<key>05-22</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 38%</string>
	<key>05-23</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 39%</string>
	<key>05-24</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 39%</string>
	<key>05-25</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 39%</string>
	<key>05-26</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 40%</string>
	<key>05-27</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 40%</string>
	<key>05-28</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 40%</string>
	<key>05-29</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 40%</string>
	<key>05-30</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 41%</string>
	<key>05-31</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 41%</string>
	<key>06-01</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 41%</string>
	<key>06-02</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 41%</string>
	<key>06-03</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 42%</string>
	<key>06-04</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 42%</string>
	<key>06-05</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 42%</string>
	<key>06-06</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 43%</string>
	<key>06-07</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 43%</string>
	<key>06-08</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 43%</string>
	<key>06-09</key>		<string>▓▓▓▓▓▓░░░░░░░░░ 43%</string>
	<key>06-10</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 44%</string>
	<key>06-11</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 44%</string>
	<key>06-12</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 44%</string>
	<key>06-13</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 45%</string>
	<key>06-14</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 45%</string>
	<key>06-15</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 45%</string>
	<key>06-16</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 45%</string>
	<key>06-17</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 46%</string>
	<key>06-18</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 46%</string>
	<key>06-19</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 46%</string>
	<key>06-20</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 46%</string>
	<key>06-21</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 47%</string>
	<key>06-22</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 47%</string>
	<key>06-23</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 47%</string>
	<key>06-24</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 48%</string>
	<key>06-25</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 48%</string>
	<key>06-26</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 48%</string>
	<key>06-27</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 48%</string>
	<key>06-28</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 49%</string>
	<key>06-29</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 49%</string>
	<key>06-30</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 49%</string>
	<key>07-01</key>		<string>▓▓▓▓▓▓▓░░░░░░░░ 49%</string>
	<key>07-02</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 50%</string>
	<key>07-03</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 50%</string>
	<key>07-04</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 50%</string>
	<key>07-05</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 51%</string>
	<key>07-06</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 51%</string>
	<key>07-07</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 51%</string>
	<key>07-08</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 51%</string>
	<key>07-09</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 52%</string>
	<key>07-10</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 52%</string>
	<key>07-11</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 52%</string>
	<key>07-12</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 52%</string>
	<key>07-13</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 53%</string>
	<key>07-14</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 53%</string>
	<key>07-15</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 53%</string>
	<key>07-16</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 54%</string>
	<key>07-17</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 54%</string>
	<key>07-18</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 54%</string>
	<key>07-19</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 54%</string>
	<key>07-20</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 55%</string>
	<key>07-21</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 55%</string>
	<key>07-22</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 55%</string>
	<key>07-23</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 55%</string>
	<key>07-24</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 56%</string>
	<key>07-25</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 56%</string>
	<key>07-26</key>		<string>▓▓▓▓▓▓▓▓░░░░░░░ 56%</string>
	<key>07-27</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 57%</string>
	<key>07-28</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 57%</string>
	<key>07-29</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 57%</string>
	<key>07-30</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 57%</string>
	<key>07-31</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 58%</string>
	<key>08-01</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 58%</string>
	<key>08-02</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 58%</string>
	<key>08-03</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 58%</string>
	<key>08-04</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 59%</string>
	<key>08-05</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 59%</string>
	<key>08-06</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 59%</string>
	<key>08-07</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 60%</string>
	<key>08-08</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 60%</string>
	<key>08-09</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 60%</string>
	<key>08-10</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 60%</string>
	<key>08-11</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 61%</string>
	<key>08-12</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 61%</string>
	<key>08-13</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 61%</string>
	<key>08-14</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 61%</string>
	<key>08-15</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 62%</string>
	<key>08-16</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 62%</string>
	<key>08-17</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 62%</string>
	<key>08-18</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 63%</string>
	<key>08-19</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 63%</string>
	<key>08-20</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 63%</string>
	<key>08-21</key>		<string>▓▓▓▓▓▓▓▓▓░░░░░░ 63%</string>
	<key>08-22</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 64%</string>
	<key>08-23</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 64%</string>
	<key>08-24</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 64%</string>
	<key>08-25</key> 		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 65%</string>
	<key>08-26</key> 		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 65%</string>
	<key>08-27</key> 		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 65%</string>
	<key>08-28</key> 		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 65%</string>
	<key>08-29</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 66%</string>
	<key>08-30</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 66%</string>
	<key>08-31</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 66%</string>
	<key>09-1</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 66%</string>
	<key>09-2</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 67%</string>
	<key>09-3</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 67%</string>
	<key>09-4</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 67%</string>
	<key>09-5</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 68%</string>
	<key>09-6</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 68%</string>
	<key>09-7</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 68%</string>
	<key>09-8</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 68%</string>
	<key>09-9</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 69%</string>
	<key>09-10</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 69%</string>
	<key>09-11</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 69%</string>
	<key>09-12</key>		<string>▓▓▓▓▓▓▓▓▓▓░░░░░ 69%</string>
	<key>09-13</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 70%</string>
	<key>09-14</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 70%</string>
	<key>09-15</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 70%</string>
	<key>09-16</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 71%</string>
	<key>09-17</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 71%</string>
	<key>09-18</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 71%</string>
	<key>09-19</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 71%</string>
	<key>09-20</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 72%</string>
	<key>09-21</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 72%</string>
	<key>09-22</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 72%</string>
	<key>09-23</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 72%</string>
	<key>09-24</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 73%</string>
	<key>09-25</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 73%</string>
	<key>09-26</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 73%</string>
	<key>09-27</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 74%</string>
	<key>09-28</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 74%</string>
	<key>09-29</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 74%</string>
	<key>09-30</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 74%</string>
	<key>10-01</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 75%</string>
	<key>10-02</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 75%</string>
	<key>10-03</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 75%</string>
	<key>10-04</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 75%</string>
	<key>10-05</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 76%</string>
	<key>10-06</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 76%</string>
	<key>10-07</key>		<string>▓▓▓▓▓▓▓▓▓▓▓░░░░ 76%</string>
	<key>10-08</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 77%</string>
	<key>10-09</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 77%</string>
	<key>10-10</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 77%</string>
	<key>10-11</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 77%</string>
	<key>10-12</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 78%</string>
	<key>10-13</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 78%</string>
	<key>10-14</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 78%</string>
	<key>10-15</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 78%</string>
	<key>10-16</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 79%</string>
	<key>10-17</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 79%</string>
	<key>10-18</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 79%</string>
	<key>10-19</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 80%</string>
	<key>10-20</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 80%</string>
	<key>10-21</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 80%</string>
	<key>10-22</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 80%</string>
	<key>10-23</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 81%</string>
	<key>10-24</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 81%</string>
	<key>10-25</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 81%</string>
	<key>10-26</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 81%</string>
	<key>10-27</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 82%</string>
	<key>10-28</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 82%</string>
	<key>10-29</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 82%</string>
	<key>10-30</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 83%</string>
	<key>10-31</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 83%</string>
	<key>11-1</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 83%</string>
	<key>11-2</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓░░░ 83%</string>
	<key>11-3</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 84%</string>
	<key>11-4</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 84%</string>
	<key>11-5</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 84%</string>
	<key>11-6</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 85%</string>
	<key>11-7</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 85%</string>
	<key>11-8</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 85%</string>
	<key>11-9</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 85%</string>
	<key>11-10</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 86%</string>
	<key>11-11</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 86%</string>
	<key>11-12</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 86%</string>
	<key>11-13</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 86%</string>
	<key>11-14</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 87%</string>
	<key>11-15</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 87%</string>
	<key>11-16</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 87%</string>
	<key>11-17</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 88%</string>
	<key>11-18</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 88%</string>
	<key>11-19</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 88%</string>
	<key>11-20</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 88%</string>
	<key>11-21</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 89%</string>
	<key>11-22</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 89%</string>
	<key>11-23</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 89%</string>
	<key>11-24</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓░░ 89%</string>
	<key>11-25</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 90%</string>
	<key>11-26</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 90%</string>
	<key>11-27</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 90%</string>
	<key>11-28</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 91%</string>
	<key>11-29</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 91%</string>
	<key>11-30</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 91%</string>
	<key>12-01</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 91%</string>
	<key>12-02</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 92%</string>
	<key>12-03</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 92%</string>
	<key>12-04</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 92%</string>
	<key>12-05</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 92%</string>
	<key>12-06</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 93%</string>
	<key>12-07</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 93%</string>
	<key>12-08</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 93%</string>
	<key>12-09</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 94%</string>
	<key>12-10</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 94%</string>
	<key>12-11</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 94%</string>
	<key>12-12</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 94%</string>
	<key>12-13</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 95%</string>
	<key>12-14</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 95%</string>
	<key>12-15</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 95%</string>
	<key>12-16</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 95%</string>
	<key>12-17</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 96%</string>
	<key>12-18</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 96%</string>
	<key>12-19</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓░ 96%</string>
	<key>12-20</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 97%</string>
	<key>12-21</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 97%</string>
	<key>12-22</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 97%</string>
	<key>12-23</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 97%</string>
	<key>12-24</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 98%</string>
	<key>12-25</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 98%</string>
	<key>12-26</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 98%</string>
	<key>12-27</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 98%</string>
	<key>12-28</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 99%</string>
	<key>12-29</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 99%</string>
	<key>12-30</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 99%</string>
	<key>12-31</key>		<string>▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ 100%</string>
</dict>
</plist>
